* {
  font-family: "Pacifico", cursive;
}

body {
  background: rgb(0, 255, 209);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 209, 1) 0%,
    rgba(99, 79, 222, 1) 100%
  );
}

.task {
  border-right: black 1px solid;
  border-bottom: black 1px solid;
}
