.card.bg-light, .completedTask {
  height: 150px;
  position: relative;
}

.checkbox {
  margin-left: 20px;
}

.completedTask {
  background-color: #9DE7AD;
  border: 2px solid #2CB549;
}

.deleteTaskBtn {
  width: 30px;
  color: black;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: small;
  padding: 0 0 0 0;
}

.editTaskBtn {
  width: 100px;
  color: black;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 0 0 0;
}